<div class="item-container">
    <img class="item-image" src="{{item.itemImgUrl}}" alt="product-image">
    <div class="item-details">

        <h2 class="item-title">{{item.itemTitle}}</h2>

        <div class="item-rating" [ngSwitch]="item.itemRating">
            <div *ngSwitchCase="5">⭐⭐⭐⭐⭐</div>
            <div *ngSwitchCase="4">⭐⭐⭐⭐</div>
            <div *ngSwitchCase="3">⭐⭐⭐</div>
            <div *ngSwitchCase="2">⭐⭐</div>
            <div *ngSwitchCase="1">⭐</div>
        </div>
        <div class="item-price">Price: <span>{{item.itemPrice | currency:'$'}}</span></div>
        <div *ngIf="toCart !== item.itemQty" class="item-stock">In Stock : <span>{{item.itemQty-toCart}}</span></div>
        <div *ngIf="toCart === item.itemQty" class="out-of-stock">Out of Stock</div>
        <div>Add To Cart</div>
        <div class="input-group mb-3  add-to-cart-ctrl">
            <button class="btn btn-outline-secondary" type="button" (click)="updateCart(false)">-</button>
            <input type="text" class="form-control" [disabled]="true" [(ngModel)]="toCart">
            <button class="btn btn-outline-secondary" type="button" (click)="updateCart(true)">+</button>
        </div>
    </div>
</div>
<div class="item-description" [innerHTML]="item.description??'No Description'">       <!-- [innnerHTML] : its avoid (xss) inside html tags and fillter text inside html  -->
    <!-- {{item.description??'No Description'}} -->



</div>