<div class="cart-item" >
    <img class="item-image" src="{{item_.image}}" alt="headset">
    <p class="item-description">{{item_.description}}</p>
    <ng-container [ngSwitch]="item_.rating">
    <div *ngSwitchCase ="5">⭐⭐⭐⭐⭐</div>
    <div *ngSwitchCase ="4">⭐⭐⭐⭐</div>
    <div *ngSwitchCase ="3">⭐⭐⭐</div>
    <div *ngSwitchCase ="2">⭐⭐</div>
    <div *ngSwitchCase ="1">⭐</div>
    </ng-container>
    <div class="item-price">${{item_.price}}</div> 
    <div *ngIf="inCart !== item_.qty"  class="item-stock">In Stock : <span>{{item_.qty-inCart}}</span></div>
    <div *ngIf="inCart === item_.qty" class="out-of-stock">Out of Stock</div>
    <div>Add To Cart</div>
    <div class="input-group mb-3  add-to-cart-ctrl" >
       
            <button [disabled]="inCart===0" class="btn btn-outline-secondary" type="button" (click)="updateCart(false)">-</button>
            <input type="text" class="form-control" [(ngModel)]="inCart" [disabled]="true">
            <button [disabled]="inCart===item_.qty" class="btn btn-outline-secondary" type="button" (click)="updateCart(true)">+</button>
            
        
      
</div>
